.information{
    padding: 0; /* remove default padding and all margins! */
    margin: 0;
    height: 550px;
    /*position: relative;*/
    border-top: 3px solid pink; 
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
    border-bottom: 2px solid pink;

}
.information .info{
    width: 40px;
    overflow: visible;
    position: relative;
    left: 40px;
    z-index:100;
}
.information .info1{
    position: absolute;
    /*padding: 40px;*/
    height: 550px;
    width: 100%;
    text-align: center;
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cube.png{
    height:20px;
}
/*ZAAPMTIIIII*/
.info1>div{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    margin-right:60px;
}
#infoSection > div:nth-child(1) > div > div > picture > img{
    left:30px;
}

.info1 li{
    opacity: 0.75;
    font-size: 25px;
    padding-top: 20px;
    padding-bottom: 20px;
    
}
.info1 span{
    opacity: 0.9;
    font-size: 18px;
}

.bookmark li{
    font-family: 'Fira Sans', sans-serif;
    font-size:30px;
    list-style: none;
    display: flex;
    position:relative;
    bottom:5px;
}

.bookmark{
    justify-content: left;
    align-items: left;
}

.bookmark>div{
    position:relative;
    display: flex;
    flex-flow: row;
    justify-content: center;
    align-items: center;
    margin-right:40px;
    margin-bottom:40px;
    bottom:30px;
    left: 50px;
    width: 100%;
}


