.titleImage {
    height: 650px;
    width: 100%;
    position: relative;
    background: url('../../images/naslovna.png') ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-height: 100vh;
    min-height: 100vh;
    object-fit: contain;
}
 
.titleImage > div {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-flow: column;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    margin-top: -120px;
}
 
.titleImage h1 {
    font-size: 40px;
    color: rgb(80, 78, 78);
    display: flex;
    font-family: 'Sacramento', cursive;
    margin: -5px;
    margin-left: -40px;
}
 
.titleImage p {
    font-size: 28px;
    margin: 0;
    font-family: 'Sacramento', cursive;
    margin-left: -35px;
}
.titleImage button {
    margin: 5px;
    height: 44px;
    width: fit-content;
    background: rgb(255, 151, 176);
    color: black;
    padding: 11px 60px;
    font-size: 16px;
    border: black;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    margin-left: -4px;
}
.titleImage button:hover {
    cursor: pointer;
    border: white 1px solid;
}