.titleImage {
    height: 650px;
    width: 100%;
    position: relative;
    background: url('../../images/naslovna.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-height: 100vh;
    min-height: 100vh;
    object-fit: contain;
}
.titleImage > div {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-flow: column;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    margin-top: -120px;
}
 
.titleImage p {
    font-size: 42px;
    color: black;
    display: flex;
    font-family: 'Sacramento', cursive;
    margin: -0.5px;
    margin-left: -40px;
}

.titleImage button {
    margin: 5px;
    height: 44px;
    width: fit-content;
    background: rgb(255, 151, 176);
    color: black;
    padding: 0px 60px;
    font-size: 16px;
    border: black;
    font-family: 'Poppins', sans-serif;
    border-radius: 2px;
    margin-left: -4px;
    box-shadow: 0px 3px 5px gray;
    transition: ease 250ms;
    position: absolute;
    top: 74%;
    left: 45%;
    transform: translateX(-50%) translateY(0%);
}
.titleImage button:hover {
    cursor: pointer;
    background-color: rgb(255, 211, 218);
    border:rgb(150, 150, 150) 2px solid;
    padding: 0px 60px;
}

.titleImage button:active{
    background: pink;
    transition: ease 100ms;
}
