.titleImage {
    height: 650px;
    width: 100%;
    position: relative;
    background: url('../../images/naslovna.png') ;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    max-height: 100vh;
    min-height: 100vh;
    object-fit: contain;
}
 
.titleImage > div {
    width: fit-content;
    height: fit-content;
    display: flex;
    flex-flow: column;
    background: transparent;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    margin-top: -120px;
}
 
.titleImage h1 {
    font-size: 40px;
    color: rgb(80, 78, 78);
    display: flex;
    font-family: 'Sacramento', cursive;
    margin: -5px;
    margin-left: -40px;
}
 
.titleImage p {
    font-size: 28px;
    margin: 0;
    font-family: 'Sacramento', cursive;
    margin-left: -35px;
}
.titleImage button {
    margin: 5px;
    height: 44px;
    width: fit-content;
    background: rgb(255, 151, 176);
    color: black;
    padding: 11px 60px;
    font-size: 16px;
    border: black;
    font-family: 'Poppins', sans-serif;
    border-radius: 5px;
    margin-left: -4px;
    box-shadow: 0px 3px 5px gray;
    transition: ease 250ms;
}
.titleImage button:hover {
    cursor: pointer;
    background-color: rgb(255, 211, 218);
    border:rgb(150, 150, 150) 2px solid;
}

.titleImage button:active{
    background: pink;
    transition: ease 100ms;
}

.titleImage button1{
    width: 24px;
    background: rgb(245, 213, 213);
    padding: 1px 16px;
    font-size: 40px;
    font-family: 'Fira Sans', sans-serif;
    color: rgb(243, 118, 148);
    display: flex;
    position: absolute;
    top: 180px;
    right: 0px;
}
.titleImage button1:hover {
    cursor: pointer;
    /*background: rgb(253, 233, 237);
    color: rgb(255, 153, 177);*/
    padding: 1px 50px;
}

.titleImage button1:active{
    background: pink;
    transition: ease 100ms;
    position: absolute;
  
}

.titleImage img {
    height: 34px;
    width: 40px;
    padding: 6px 6px;
    color: rgb(243, 118, 148);
    display: flex;
    border: rgb(245, 213, 213) 2px solid;
    margin: 0px;
    position: absolute;
    top: 230px;
    right: 0px;
}
.titleImage img:hover {
    cursor: pointer;
    /*background: rgb(255, 219, 226);
    color: rgb(255, 153, 177);
    */
    padding: 6px 50px;
}
.titleImage img:active{
    background: pink;
    transition: ease 100ms;
}

.titleImage button3{
    width: 15px;
    background: rgb(245, 213, 213);
    padding: 1px 20.5px;
    font-size: 40px;
    font-family: 'Fira Sans', sans-serif;
    color: rgb(243, 118, 148);
    display: flex;
    position: absolute;
    top: 280px;
    right: 0px;
}
.titleImage button3:hover {
    cursor: pointer;
    /*background: rgb(253, 233, 237);
    color: rgb(255, 153, 177);*/
    padding: 1px 50px;
}

.titleImage button3:active{
    background: pink;
    transition: ease 100ms;
}

.titleElements .elements{
    display:fix;
}