.paragraph{
    height: 800px;
    display: flex;
    justify-content: center;
    flex-flow: column;
}
.paragraph h1{
    position: relative;
    right: 80px;
    font-size: 1.9vw;
    opacity: 0.75;
    bottom:20px;
    letter-spacing: 0.05em;
}
.paragraph p{
    font-size: 1.5vw;
    opacity: 0.7;
    border-left-color: pink;
    text-align: justify;
    border-left: pink 7px solid;
    padding-left: 20px;
    line-height: 1.8;
}
.paragraph a{
    color:black;
    position: absolute;
    text-indent: 5px; 
}
.paragraph a:hover {
    cursor: pointer;
    opacity: 0.75;
}
.paragraph a:active{
    color: pink;
    transition: ease 100ms;
}
    
.paragraph div{
    text-align: justify;
    margin: 0 380px;
    position: relative;
    top: 50px;
}
.paragraph div:after{
    width: 100%;
      display: inline-block;
      overflow: hidden;
      height: 0;
   
}

