.logo img{  
    display: flex;
    width: fit-content;
    height: 170px;
    display: block;
    margin-top: 10px;
    transform: translate(-20px, 15px);
  }

  .logo img:hover {
    cursor: pointer;
    border: black;
}
