.logo img{  
    display: flex;
    width: auto;
    height: 170px;
    display: block;
    margin-top: 10px;
    transform: translate(-20px, 15px);
    z-index:2;
  }

  .logo img:hover {
    cursor: pointer;
}
