.rodendanForm{
    height: 500px;
    display: flex;
    justify-content: center;
    flex-flow: column;

}
.rodendanForm h1{
    position: relative;
    font-size: 1.6vw;
    opacity: 0.75;
}
.rodendanForm p{
    font-size: 1.5vw;
    opacity: 0.7;
    border-left-color: pink;
    text-align: justify;
    border-left: pink 7px solid;
    padding-left: 20px;
}

.rodendanForm div{
    text-align: justify;
    margin: 0 400px 0 150px;
    position: relative;
    top: 50px;
}
.rodendanForm div:after{
    width: 100%;
      display: inline-block;
      overflow: hidden;
      height: 0;
   
}

