.navigationHeader {
    height: 115px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    width: 100%;
    }
.navigationHeader > a{
  z-index:2;
}

  /*da slika bude put gore
  position: absolute;
  z-index: 100;
  */