.navigationHeader {
    height: 115px;
    display: flex;
    justify-content: space-between;
    margin: 0 15px;
    align-items: center;
    z-index: 100;   
    position: absolute;
    width: 100%;
    }
  

  /*da slika bude put gore
  position: absolute;
  z-index: 100;
  */