.izbornikopen{
    position:fixed;
    top: 0;
    left:0;
    background: white;
    height: 100vh;
    width: 100vw;
    object-fit: contain;
    pointer-events: all;
    opacity: 1;
    z-index: 4;
    transition-delay: 0s;
}

.meni{
    height: 100vh;
    width: 1000px;
    background-color:pink; 
    position:absolute;
    right: 0px;
}
.meni .blogkateg{
    height: fit-content;
    display: flex;
    right: 0px;
    list-style: none;
    flex-flow: column;
    position: absolute;
    top: 50%;
    left: 50%;
    justify-content: space-around;
    transform: translateX(-10%) translateY(-50%);
    /*transform: translateX(-50%) translateY(-200%);*/
    color:gray;
    background-color:none;
}

/*
.izbornikopen > div > div > div > ul{
   right:30px;
}
*/
.izbornikopen > div > div > p> div > li:nth-child(1){
    left:20px;
    transform: translateX(10%) translateY(-2%);
}
.izbornikopen > div > div > p> div > li:nth-child(2){
    left:20px;
    transform: translateX(10%) translateY(-2%);
}
.izbornikopen > div > div > p> div > li:nth-child(3){
    left:20px;
    transform: translateX(10%) translateY(-2%);
}
.izbornikopen > div > div > p> div > li:nth-child(4){
    left:20px;
    transform: translateX(10%) translateY(-2%);
}
.izbornikopen > div > div > p> div > li:nth-child(5){
    left:20px;
    transform: translateX(10%) translateY(-2%);
}

.izbornikopen--1GaPR > div:nth-child(1) > div > div > picture > img{
    height:60px;
}

.izbornikopen .meni .blogkateg li:hover {
   cursor: pointer;
   color:black !important;
}

.izbornikopen .meni .blogkateg li #kateg:active{
    color:pink;
    background: pink;
}

/*
.izbornikopen > div > div > li:nth-child(1){
    cursor: pointer;
    color:red !important;
}
*/
.meni .blogkateg:active{
    background: pink;
    transition: ease 100ms;
}

li:not(:last-child) {
    margin-bottom: 25px;
}

.meni button{
    display: flex;
    background:none;
    border: none;
    color: black;
    opacity: 0.8;
    font-size: 20px;
    position: absolute;
    right: 0px;
    margin-right: 113px;
    transform: translateX(-50%) translateY(-1630%);
}
/*
.meni button:hover{
    cursor: pointer;
    transform: rotate(360deg);
}

*/