.blogPicture{
    width: 100%;
    position: relative;
    text-align: center;
    top: 80px;
    display: flex;
    flex-flow:column;
    justify-content: space-between;
    object-fit:cover;
}
/*
.blogForm p{
    display: flex;
    justify-content: center;

    font-family: 'Sacramento', cursive;
    font-size: 2.6vw;

    margin-bottom:25px;
}
*/
.blogPicture div > div{
    top: 40px;
    right: 0;
    bottom: 0;
    left: 0; 
    min-width: 0;
    max-height: 100%;
    min-height: 100%;
    height: auto;
}
.blogPicture div{
    margin-top: 20PX;
    padding: 0 60px;
}
img{
    height: 20%;
}

.blogForm> div > div{
    width: 100%;
    height: auto;
    min-width: 0;
    max-height: 100%;
    min-height: 100%;
}

