.blogForm{
    height: 300px;
    width: 100%;
    position: relative;
    text-align: center;
    top: 120px;

}

.blogForm p{
    font-family: 'Sacramento', cursive;
    font-size: 2.6vw;
    position:absolute;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    left:580px;
}

